.header {
    width: 100%;
    height: 80px;
    box-shadow: 0 0 8px #ea415f;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    background: rgb(72, 87, 169);
    background: linear-gradient(90deg, rgba(72, 87, 169, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    color: #fff
}

.nombre {
    display: flex;
}



.titulos {

    padding: 0 10px;
    color: #fff;
    text-align: center;
}

.h1 {
    text-decoration: underline;
    text-align: center;
}

.fas {
    font-size: 50px;
    color: #fff;
}

.footer {

    justify-content: center;
    margin-top: 15rem;
}